body{
    background-color : white;
}

h1{
    color : orangered;
    font-family : scp
   
    
}
h3{
    color : orangered;
    font-family :Verdana, Geneva, Tahoma, sans-serif;
  
}

@font-face{
    font-family: scp;
    src : url(Assets/Fonts/SourceCodeProExtralight-m5r2.ttf);
}

*{
    color : orangered;
    font-family: scp;
    text-align: left;

}

.center{
    display : block;
    margin-left : auto;
    margin-right : auto;
    width : 50%;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center
}

a:link{
    text-decoration: none;
}
a:visited{
    text-decoration:none;
}
a:hover{
    text-decoration:underline;
}

.links{
    margin: auto;
    text-align: center;
    font-weight: bolder;
}